@import "../../../variable";
.filter-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(237, 218, 202, 0.4);
  border: 0;
  box-shadow: 0 0 20px 0px #36363614, 0 0 20px 0 rgb(47 47 47 / 38%);
  height: 35px;
  border-radius: 17.5px;
  color: #593c30;
  transition: height 0.5s;
  &.open {
    height: 400px;
    transition: height 0.5s;
    svg {
      transform: rotate(180deg);
      transition: transform 0.5s;
    }
  }
  &.close {
    svg {
      transform: rotate(0deg);
      transition: transform 0.5s;
    }

  }
  .filter-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 6px 20px;
    span {
      font-family: "Louis George Cafe", sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      color:#1e1d23;
      font-size: 18px;
    }
  }
  .liste-filtres {
    padding-top:35px;
  }
}
