<div class="d-flex bw-ecrins">
  <div matRipple matTooltip="Cliquer pour voir plus !" class="bw-img" (click)="openEcrinsPictures(popEcrinPicture)" [popover]="popAccessory" placement="bottom" triggers="" #popEcrinPicture="bs-popover">
    <img src="assets/ecrins1.png" width="125" alt="">
  </div>
  <div class="bw--infos-ecrins d-flex">
    <span>{{accessory.description}}</span>
    <div class="button d-flex btn-next-shop">
      <button (click)="shopButton()"  type="button" class="btn">{{accessoryIsAdd ? 'Supprimer' : (accessory.price)}}€</button>
    </div>
  </div>
</div>

<ng-template #popAccessory>

  <div>
    <swiper
      [slidesPerView]="1"
      [initialSlide]="1"
      [spaceBetween]="10"
      [slideToClickedSlide]="true"
      [centeredSlides]="true"
      [autoplay]="true"
      [loop]="true"
      [pagination]="true"
      class="mySwiper"
    >
      <ng-template swiperSlide>
        <img src="assets/ecrins1.png" width="160px"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/ecrins2.png" width="160px"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/ecrins3.png" width="160px"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/ecrins4.png" width="160px"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/ecrins5.png" width="160px"/>
      </ng-template>
    </swiper>
  </div>

</ng-template>
