@import "../../../../../../variable";

.bw-ecrins {
  border: 1px solid $secondaryColor;
  background: rgba(255, 255, 255, 0.3);
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
}
.bw-img {
  cursor: pointer;
}
.bw--infos-ecrins {
  flex:2;
  align-items: center;
  justify-content: center;
  position: relative;
  .bw-accessory-name {
    background: $secondaryColor;
    color: white;
    padding: 5px 20px;
    border-radius: 50px;
    margin-top: 10px;
    font-family: "Louis George Cafe", sans-serif;
    font-size: 1em;
  }
  .bw-accessory-description {
    font-family: "Louis George Cafe", sans-serif;
    font-size: 1em;
  }
  span {
    display: block;
    padding: 10px 20px 0;
    flex:1;
    text-align: center;
  }

  .btn-next-shop {
      .btn {
        background: #eddaca;
        border: 0 !important;
        border-radius: 50px;
        position: relative;
        font-size: 16px;
        margin-bottom: 10px;
        margin-top:10px;
        color:#272727;
        box-shadow: 0 0 20px 0px #36363614, 0 0 20px 0 rgb(47 47 47 / 18%);
        font-family: "Louis George Cafe", sans-serif;
        font-weight: bold;
        width: 135px;
        transition: all 0.2s;
        &.quantity, &.delete {
          width: 30px;
          height: 30px;
          display: flex;
          color:white;
          align-items: center;
          position: absolute;
          background: $secondaryColor;
          left: 15px;
          justify-content: center;
        }
        &.delete {
          left:auto;
          width: auto;
          background: transparent;
          box-shadow: none;
          padding: 0;
          right: 20px !important;
        }
        &:hover {
          transform: scale(1.1);
          transition: transform 0.2s;
        }

    }
    span {
      padding: 0
    }
  }
}
