<div class="d-flex bw-ecrins">
  <div matRipple matTooltip="Cliquer pour voir plus !" class="bw-img" (click)="openEcrinsPictures(popEcrinPicture)" [popover]="popAccessory" placement="bottom" triggers="" #popEcrinPicture="bs-popover">
    <img src="assets/ecrins1.png" width="125" alt="">
  </div>
  <div class="bw--infos-ecrins d-flex flex-column">
    <span>{{accessory.name}}</span>
    <span class="bw-accessory-description">{{accessory.description}}</span>
    <span>{{accessory.price}}€</span>
    <div class="button d-flex btn-next-shop align-items-center justify-content-center">
      <span class="btn quantity" *ngIf="accessory.quantity && accessory.quantity > 0">{{accessory.quantity}}</span>
      <button (click)="shopButton()"  type="button" class="btn">Ajouter</button>
      <span (click)="deleteButton()" *ngIf="accessory.quantity && accessory.quantity > 0" class="btn delete">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#af3755" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg>
      </span>
    </div>
  </div>
</div>

<ng-template #popAccessory>

  <div>
    <swiper
      [slidesPerView]="1"
      [initialSlide]="1"
      [spaceBetween]="10"
      [slideToClickedSlide]="true"
      [centeredSlides]="true"
      [autoplay]="true"
      [loop]="true"
      [pagination]="true"
      class="mySwiper"
    >
      <ng-template swiperSlide>
        <img src="assets/ecrins1.png" width="160px"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/ecrins2.png" width="160px"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/ecrins3.png" width="160px"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/ecrins4.png" width="160px"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/ecrins5.png" width="160px"/>
      </ng-template>
    </swiper>
  </div>

</ng-template>
