.main-wrap{
  padding: 0 0 0 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
}

.detail, .montre {
  flex:1;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 50px;
  .informations{
    font-family: "Bebas Neue", sans-serif;
    align-items: center;
    justify-content: flex-start;
    flex: auto;
    gap: 15px;
    margin-top: 25px;
    padding-left: 20px;
    span{
      margin-left: 10px;
      font-size: 18px;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    img {
      width: 415px;
    }
  }
  .modele {
    width: 100%;
    align-items: center;
    .ref-label {
      text-transform: uppercase;
      color: #2d2d2d;
      font-size: 18px;
    }
    .ref {
      width: 100%;
      font-size:18px;
      margin-left: 10px;
      background-image: url('../../assets/background-brown.png');
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      color:#e5cdb9;
      text-transform: capitalize;
      padding: 5px 20px;
    }
  }
}
