@import "../../variable";
@import "../shop/liste-montres-shop/montre-item/montre-item.component";
:host{
  @media screen and(min-width: $desktop-breakpoint) {
    width: 100%;
  }

}


.desktop-template {
  display: none;
  @media screen and(min-width: $desktop-breakpoint) {
    display: block;
    .back-shop-button{
      display: flex;
    }
    .main-wrap{
      display: flex;
      position: relative;
      justify-content: space-around;
      width: 100%;
      flex-direction: column;
      margin: auto;
      @media screen and(min-width: $desktop-breakpoint) {
        flex-direction: row;
        align-items: flex-start;
      }
      .montre{
        width: 100%;
      }

    }

    .swiper {
      justify-content: center !important;
      align-items: center !important;
      flex:1;
      > .swiper-wrapper{
        align-items: center !important;
        justify-content: center !important;
      }
    }



    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center !important;
      align-items: center !important;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    .back-to-shop {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 50px;
      padding: 10px 30px;
      background-color: #432f2466;
      border: none;
      color: white;
      font-family: "Louis George Cafe", sans-serif;
      text-transform: uppercase;
      transition: .6s;
      min-height: 44px;
      width: auto;
      min-width: 240px;
      line-height: 25px;
      span{
        transition: .6s;
        transform: translateX(0px);
        position: absolute;
      }

      &::before {
        content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='b' xmlns='http://www.w3.org/2000/svg' width='20' viewBox='0 0 166.1132 134.8703'%3E%3Cdefs%3E%3Cstyle%3E.d%7Bstroke-miterlimit:10;%7D.d,.e%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-width:7px;%7D.e%7Bstroke-linejoin:round;%7D%3C/style%3E%3C/defs%3E%3Cg id='c'%3E%3Cpath class='d' d='M3.5,42.3843H118.1202c24.5728,0,44.493,19.9202,44.493,44.493h0c0,24.5729-19.9202,44.4931-44.493,44.4931h-53.9591'/%3E%3Cpolyline class='e' points='42.3843 81.2686 3.5 42.3843 42.3843 3.5'/%3E%3C/g%3E%3C/svg%3E");
        display: inline-block;

        height: 22px;
        opacity: 0;
        transform: translateX(0px);
        transition: .6s;
        position: absolute;
        left: 25px;

      }

      &:hover {
        background: #432f24 !important;
        transition: .6s;

        span {
          position: absolute;
          display: inline;
          transform: translateX(10px);
          transition: .6s;
        }

        &::before {
          display: inline;
          position: absolute;
          opacity: 1;
          transform: translateX(-10px);
          transition: .6s;
        }
      }

      @media screen and(min-width: $desktop-breakpoint) {
        margin: 60px 100px;
      }
    }
    .detail {
      flex:1;
    }
    .add-to-cart, .remove-to-cart{
      display: flex;
      align-items: center;
      border-radius: 50px;
      height: 45px;
      background-color: #432f2466;
      border: none;
      color: white;
      padding: 0 30px;
      width: auto;
      font-size: 14px;
      justify-content: center;
      font-family: "Louis George Cafe", sans-serif;
      text-transform: uppercase;
      transition: .4s;
      &:hover{
        background: #432f24 !important;
        transition: .4s;
      }

      span{
        height: 20px;
      }
      svg{
        fill: white;
        width: 20px;
        margin-right: 10px;
        &:hover{
          transition: 0.3s ease-out;
        }
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      inset: auto;
      @media screen and(min-width: $desktop-breakpoint) {
        width: 100%;
        flex:1;
        align-items: center;
        .bloc-details{
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          padding: 0 100px;
          gap:40px;
        }
      }
      .informations{
        font-family: "Bebas Neue", sans-serif;
        align-items: center;
        justify-content: flex-start;
        line-height: 0;
        @media screen and(min-width: $desktop-breakpoint) {
          gap:50px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }
        span{
          margin-left: 7px;
          font-size: 20px;
        }
        .description{
          display: flex;
          max-width: 550px;
          flex: 2;
          line-height: 20px;
          font-family: "Louis George Cafe", sans-serif;
          > p{
            white-space: break-spaces;
          }
        }
      }
      .logo {
        display: flex;
        align-items: center;
        margin:auto;
        img {
          width: 215px;
          @media screen and(min-width: $desktop-breakpoint) {
            width: 415px;
          }
        }
      }
      .modele {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        margin-top:40px;
        .ref-label {
          text-transform: uppercase;
          color: #2d2d2d;
          font-size: 18px;
        }
        .ref {
          width: auto;
          font-size: 18px;
          margin-left: 10px;
          border-radius: 50px;
          color: #e5cdb9;
          text-align: center;
          text-transform: capitalize;
          padding: 5px 20px;
        }
      }
    }

    .details-montre {
      width: 100%;
      display: flex;
      padding-top:40px;
      justify-content: flex-start;
      align-items: center;
      height: auto;
      gap: 40px;
      flex-wrap: wrap;


      img {
        width: 30px !important;
      }
      > div{
        display: flex;
        align-items: center;
        width: auto;
        justify-content: flex-start;
        gap: 10px;
      }
    }
  }
}

.bw-engrenage {
  width: 35px !important;
}
.bw-contains-detail {
  padding: 0 0 0 50px;
  .icon {
    display: flex;
    width: 35px;
    align-items: center;
    justify-content: center;
  }
  .infos-liste {
    display: flex;
    padding-left:10px;
    align-items: center;
    justify-content: center;
  }
}

.movement + .bracelet {
  margin-top:15px;
}
.couronne + .boitier {
  margin-top:15px;
}

.mobile-template {
  display: block;
  padding-top:20px;
  .bw-logo-marque-mobile {
    img {
      width:250px;
      margin-bottom:25px;
    }
  }
  .info-completes {
    margin-top:25px;
    padding-bottom: 25px;
    width: 100%;
    .modele {
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      margin-top:25px;
      .ref-label {
        text-transform: uppercase;
        color: #2d2d2d;
        font-size: 18px;
      }
      .ref {
        width: auto;
        font-size: 18px;
        margin-left: 10px;
        border-radius: 50px;
        color: white;
        text-align: center;
        text-transform: capitalize;
        padding: 5px 20px;
      }
    }
  }
  .btn-mobile {
    width:250px;
    margin-top:15px;
    height: 40px;
    font-size:18px;
  }
  .description {
    padding: 0 20px;
  }
  .couture-mobile {
    background-repeat: repeat-x;
    z-index: -1;
    height: 10px;
    border: 0 !important;
    width: 100%;
    bottom: 50px;
    background-size: 125%;
    background-position: left bottom;
  }
  .informations {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @media screen and(min-width: $desktop-breakpoint) {
    display: none;
  }
}
