<ng-container *ngIf="!!montre">
  <div class="main-wrap ">
    <div class="montre">
      <app-montre-detail-image></app-montre-detail-image>
    </div>
    <div class="details">
      <div class="logo">
        <img src="assets/logo-montres/{{urlImageLogoMontre}}" alt="Logo marque de la montre">
      </div>
      <div class="modele d-flex">
        <span class="ref">{{montre.modele}}</span>
      </div>
      <div class="informations d-flex flex-wrap">
        <div class="engrenange">
          <img src="../../assets/icones/engrenage.svg" width="30" alt=""><span>MOUVEMENT : QUARTZ</span>
        </div>
        <div class="engrenange">
          <img src="../../assets/icones/engrenage.svg" width="30" alt=""><span>MOUVEMENT : QUARTZ</span>
        </div>
        <div class="engrenange">
          <img src="../../assets/icones/engrenage.svg" width="30" alt=""><span>MOUVEMENT : QUARTZ</span>
        </div>
        <div class="engrenange">
          <img src="../../assets/icones/engrenage.svg" width="30" alt=""><span>MOUVEMENT : QUARTZ</span>
        </div>
        <div class="engrenange">
          <img src="../../assets/icones/engrenage.svg" width="30" alt=""><span>MOUVEMENT : QUARTZ</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>

