<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup" label="Votre commande">>
    <app-confirmation-commande [panier]="panier"
                               [hasError]="hasError"
                               [activeTemplatePanierVide]="activeTemplatePanierVide"
                               [totalPanier]="totalPanier"></app-confirmation-commande>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Informations de livraisons">
    <form [formGroup]="secondFormGroup">
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
