@import "../../../../variable";


.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

mat-stepper {
  background: transparent !important;
}

:host{
  width: 70%;
}

.bw-step-livraison {
  gap:20px;
  margin-top: 20px;
}

.bw-paypal-wrapper {
  padding: 30px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  ngx-paypal {
    width: 50%;
  }
}


::ng-deep .mat-step-icon-selected {
  background-color: $secondaryColor !important;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.btn {
  background: #eddaca;
  border: 0 !important;
  border-radius: 50px;
  position: relative;
  font-size: 16px;
  color:#272727;
  box-shadow: 0 0 20px 0px #36363614, 0 0 20px 0 rgb(47 47 47 / 18%);
  font-family: "Louis George Cafe", sans-serif;
  font-weight: bold;
  width: auto;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
  }
}
