<mat-stepper [linear]="isLinear"  #stepper>
  <mat-step [stepControl]="firstFormGroup"
            [completed]="canGoingToLivraisonInfo"
            [hasError]="!canGoingToLivraisonInfo"
            label="Votre commande">
    <app-confirmation-commande [panier]="panier"
                               [hasError]="hasError"
                               [activeTemplatePanierVide]="activeTemplatePanierVide"
                               [totalPanier]="totalPanier"></app-confirmation-commande>
    <div class="button d-flex btn-next-shop">
      <button mat-button [disabled]="!canGoingToLivraisonInfo" matStepperNext type="button" class="btn btn-mobile" >Continuer vers les informations de livraison</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup"  label="Informations de livraisons">
    <form [formGroup]="secondFormGroup">
        <app-livraison></app-livraison>
    </form>
    <div class="button d-flex btn-next-shop">
      <button mat-button [disabled]="!showPaypalBtn" matStepperNext type="button" class="btn btn-mobile" >Continuer vers le paiement</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Paiement</ng-template>
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </mat-step>
</mat-stepper>
