@import "../../../../variable";

.shop-container{
  width: 100%;
  flex-wrap: wrap;
}
.marque, .modele {
  font-family: "Louis George Cafe", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
}

.icon-delete-montre-panier {
  &:hover {
    transform: scale(0.8);
  }
}
