@import "../../../variable";

.container-fluid {
  @media screen and(min-width: $desktop-breakpoint) {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar {
  &.open {
    position: relative;
    z-index: 125 !important;
  }
}

nav {
  height: 80px;
  padding-bottom: 0;
  padding-top: 0;
  @media screen and(min-width: $desktop-breakpoint){
    background-size: 13%;

  }
  svg {
    cursor: pointer;
  }

  @media screen and(min-width: $desktop-breakpoint) {
    height: 150px;
    display: flex;
    align-items: flex-start;

  }

  .navbar-brand {
    font-size: 24px;
    text-transform: lowercase;
    font-family: "Louis George Cafe", sans-serif;
    font-weight: bold;
    color: $thirdColor;
    z-index: 999;
    transition: 1.3s cubic-bezier(0.4, 2, .4, .6);
    border-radius: 37% 63% 62% 38%/47% 32% 70% 50%;

    small {
      display: none;
    }

    h1 {
      display: inline;
      font-family: "Louis George Cafe", sans-serif;
      position: relative;
      font-weight: bold;
    }

    @media screen and(min-width: $desktop-breakpoint) {
      height: 150px;
      width: 450px;
      display: flex;
      justify-content: center;
      position: relative;
      left: 10px;
      top:4px;
      a{

      }
      &.menu-open {
        background-image: none;
      }
      small {
        display: block;
      }
      h1 {
        display: inline;
        font-family: "Louis George Cafe", sans-serif;
        position: relative;
        font-weight: bold;
        top: 7px;
        font-size: 64px;
      }
    }

    h1 {
      &:first-child {
        color: $primaryColor;
        transition: 0.2s ease-out;
      }

      &:hover {
        letter-spacing: -2px;
        transition: 0.2s ease-in;
      }
    }
  }

  .badge {
    display: block !important;
    top: 8px !important;
    left: 27px !important;
    font-size: 11px;
    @media screen and(min-width: $tablet-breakpoint) {
      top: 8px !important;
      left: 50px !important;
      font-size: 14px;
    }

    &.menu-open {
      background-color: white !important;
    }
  }

  .nav-wrap {
    width: 150px;
    justify-content: flex-end;
    gap: 10px;

    .panier {
    }

    .search {
      input {
        display: none;
      }
    }

    @media screen and(min-width: $desktop-breakpoint) {
      width: 50%;

      input:focus {
        font-size: 14px;
        transition: 0.3s ease-in;
        background: rgb(255 255 255 / 70%) !important;
      }
      .mobile {
        display: none;
      }
      &.icons {

        z-index: 999;
        position: relative;
        padding-left:130px;
        width: auto;
        margin-left: auto;
        margin-right: auto;

        .panier {
          width: 60px;
          height: 60px;
          position: relative;
          border-radius: 50px;
          box-shadow: 0 0 20px 0px #36363614, 0 0 20px 0 rgb(47 47 47 / 38%);
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
          }


          &.menu-open {
            .badge {
              background-color: white;
              color: $secondaryColor !important;
            }

            svg {
              fill: white;
            }
          }

          svg {
            fill: #d2d2d2;
            position: absolute;
            opacity: 1;
            margin: auto;
            width: 60px;
            transition: .3s ease-in;

            &:hover {
              height: 25px;
              transition: .3s ease-out;
            }
          }
        }

        .search {
          width: 360px;
          display: flex;
          flex-direction: column;
          background: rgba(255, 255, 255, 0.3);
          border: 0;
          position: relative;
          box-shadow: 0 0 20px 0px #36363614, 0 0 20px 0 rgb(47 47 47 / 38%);
          padding: 18px 35px;
          border-radius: 50px;

          line-height: 1;
          height: 60px;
          justify-content: center;

          &.border-search {
            border-radius: 30px;
            height: auto;
          }

          .delete-search {
            right: 27px;
            cursor: pointer;
            position: absolute;
            top: 22px;
          }

          .search-item {
            cursor:pointer;
            &:hover {
              text-decoration: underline;
            }
          }

          input {
            display: flex;
            transition: 0.3s ease-out;
            background: transparent !important;
            outline: 0 !important;
            box-shadow: none !important;
            border: 0;
            padding: 0;
          }

          &.menu-open {
            color: white;
          }

          svg {
            display: none;
          }
        }
      }
    }
  }

  .desktop {
    display: none !important;
    @media screen and(min-width: $desktop-breakpoint) {
      display: flex !important;
      width: 100%;
      justify-content: space-between;
      .desktop-burger {
        position: relative;
        left: 20px;
      }
    }

    .burger {
      @media screen and(min-width: $desktop-breakpoint) {


        &.close {
          width: 171px !important;
          height: 127px;
          position: absolute;
          display: flex;
          right: 0;
          top: 4px;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 72% 28% 0% 100% / 59% 17% 83% 41%;
          &:hover {
          }

          //transition: all $variable-burger-animation-time $variable-menu-animation-function2;
        }
        &.open {
          position: absolute;
          display: flex;
          top: 0;
          right: 0;
          bottom: 0;
          background-size: 10%;
          align-items: flex-start;
          justify-content: flex-end;
          width: 100% !important;
          transition: $variable-burger-animation-time $variable-menu-animation-function;
          min-height: 100vh !important;
          border-radius: 0;
          z-index: 120;

          svg {
            position: relative;
            top: 50px;
            left: -45px;
          }
        }

        svg {
          position: relative;
          left: 21px;

          .cls-1 {
            stroke-width: 70px !important;
          }
        }
      }
    }
  }

  .desktop-menu {
    z-index: 120;
    color: white;
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-between;
    margin-top: 12%;
    align-items: center;
    background-size: 15%;
    max-height: 220px;
    padding: 40px;
    animation: checkboxCheckedAnimation $variable-menu-animation-time $variable-menu-animation-function both;

    li {
      text-transform: uppercase;
      font-size: 70px;
      color: $secondaryColor;
      line-height: 55px;
      padding: 105px 5px;
      width: 320px;
      height: 320px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Bebas Neue', cursive;
      position: relative;

      &:hover {
        border-radius: 100%;
      }
    }
  }

  .burger {
    position: relative;
    top: 2px;

    svg {
      .cls-1 {
        stroke-width: 10px;
      }
    }
  }
}

.burger {
  &.mobile &.close {
    svg {
      .cls-1 {
        stroke: white !important;
      }
    }
  }
}

.burger-collapse {
  height: 0;
  opacity: 0;
  position: absolute;
  background-image: url('../../../assets/background-brown.png');
  left: 0;
  display: none;
  right: 0;
  transition: all 0.3s;

  &.active {
    display: block;
    height: 100vh;
    z-index: 9999;
    opacity: 1;
  }

  .border {
    background-image: url('../../../assets/bordure-white.png');
    background-repeat: repeat;
    height: 7px;
    border: 0 !important;
  }

  ul {
    list-style: none;
    padding-top: 52px;
    padding-bottom: 52px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

    li {
      text-transform: uppercase;
      font-size: 70px;
      color: $thirdColor;
      line-height: 55px;
      font-family: 'Bebas Neue', cursive;
    }

    li + li {
      margin-top: 54px;
    }
  }

  @media screen and(min-width: $desktop-breakpoint) {
    display: none !important;
  }
}

.btn-valider-panier {
  border: 0 !important;
  border-radius: 50px;
  position: relative;
  font-size: 16px;
  color: #efefef;
  box-shadow: 0 0 20px 0px #36363614, 0 0 20px 0 rgb(47 47 47 / 18%);
  font-family: "Louis George Cafe", sans-serif;
  font-weight: bold;
  width: 90%;
  height: 37px;
  margin-top: 22px;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.mobile-search-bar {
  display: flex;
  background-color: rgba(163, 163, 163, 0.9);
  position: fixed;
  padding: 130px 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  svg {
    position: absolute;
    top: 50px;
    right: 30px;
  }
  .wrap {
    width: 100%;
    input {
      display: flex;
      transition: 0.3s ease-out;
      outline: 0 !important;
      border: 0;
      padding: 18px 35px;
      border-radius: 50px;
      background: rgba(255, 255, 255, 0.7);
      position: relative;
      box-shadow: 0 0 20px 0px #36363614, 0 0 20px 0 rgb(47 47 47 / 38%);
    }
  }
  .search-result {
    padding: 25px 20px;
    width: 100%;
  }

  @media screen and(min-width: $desktop-breakpoint) {
    display: none !important;
  }
}

.search {
  &.desktop {
    display: none !important;
    @media screen and(min-width: $desktop-breakpoint) {
      display: flex !important;
    }
  }
  &.mobile {
    display: flex !important;
    @media screen and(min-width: $desktop-breakpoint) {
      display: none !important;
    }
  }
}
