<h1 class="our-story-title">
  <span style="color: #37251d;">Contactez-</span>&nbsp;
  <span style="color: #553d33;">nous</span>
</h1>
<div class="coutures"></div>
<div class="contact-form">
  <input type="text" placeholder="Nom">
  <input type="text" placeholder="Prénom">
  <input type="text" placeholder="Adresse mail">
  <input type="number" placeholder="Numéro de téléphone (facultatif)">
  <textarea placeholder="Message" rows="6"></textarea>
  <button class="btn-send">Envoyer</button>
</div>
