.loader {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  svg {
    width: 50px;
    animation: rotation 2s infinite linear;

  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
