@import "../../../variable";

:host {
  @media screen and(min-width: $desktop-breakpoint) {
    width: 500px;
  }
}

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  height: 600px;
  width: auto;
  margin: auto;

  .left, .right{
    display: none;
  }
  @media screen and(min-width: $desktop-breakpoint) {
    .left, .right {
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;
      justify-content: space-between;

      div {
        flex: 1;

        span {
          color: $secondaryColor;
          font-size: 20px;
          font-family: 'Bebas Neue', cursive;
        }
      }

      .content {
        position: absolute;
        display: flex;
        border: 0;
        align-items: center;

        span {
          text-align: center;
          line-height: 1;
          text-transform: uppercase;
          max-width: 150px;
        }

        .trait, hr {
          height: 1px;
          border: 2px dotted white;
          background: transparent;
          position: relative;
          opacity: 1;
        }

      }

      .rond {
        width: 42px;
        height: 42px;
        border-radius: 50px;
        background: white;
        position: absolute;
        opacity: .7;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
        animation: pulse-white 2s infinite;
      }
    }
    .left {
      .content-A {
        animation-delay: 0.1s;
        position: relative;

        .content {
          bottom: 40px;
          right: 0px;

          .trait, hr {
            width: 42px;
            left: 56px;
            top: 30px;
            transform: matrix(-3, 1.9, 0.1, 1, 0, -68)
          }

          .hr-wrap {
            transform: rotate(180deg);
            top: 20px;
            right: 0;
            position: relative;
            animation: displayTrait 0.7s;
            &:before {
              content: "";
              display: inline-block;
              width: 35px;
              height: 35px;
              border-radius: 50px;
              background: white;
              opacity: 0.7;
              box-shadow: 0 0 0 0 white;
              animation: pulse-white 3s infinite;
              vertical-align: -3px;
            }
            .dot {
              height: 10px;
              width: 10px;
              border-radius: 50%;
              transform: scale(1);
              opacity: .7;
              box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
              background-color: #ffffff;
              animation: scaling 4s ease-out infinite;
              display: inline-block;
              margin: .5rem;

              &:nth-child(0) {
                animation-delay: 0s;
              }

              &:nth-child(1) {
                animation-delay: 0.2s;
              }

              &:nth-child(2) {
                animation-delay: 0.4s;
              }

              &:nth-child(3) {
                animation-delay: 0.6s;
              }

              &:nth-child(4) {
                animation-delay: 0.8s;
              }

              &:nth-child(5) {
                animation-delay: 1s;
              }
            }
          }


        }

        .rond {
          right: 22px;
          top: 82px;
        }
      }

      .content-B {
        animation-delay: 0.7s;
        position: relative;

        .content {
          top: 0;
          right: 0px;
          .desc{
            position: relative;
            top: -20px;
          }

          .trait, hr {
            width: 64px;
            left: 34px;
            top: 13px;
            transform: matrix(3, 0.8, 0.1, 1, 38, 13)
          }

          .hr-wrap {
            transform: rotate(175deg);
            top: -30px;
            right: 30px;
            position: relative;
            width: 250px;
            animation: displayTrait 0.7s;
            &:before {
              content: "";
              display: inline-block;
              width: 35px;
              height: 35px;
              border-radius: 50px;
              background: white;
              opacity: 0.7;
              box-shadow: 0 0 0 0 white;
              animation: pulse-white 3s infinite;
              vertical-align: -3px;
            }
            .dot {
              height: 10px;
              width: 10px;
              border-radius: 50%;
              transform: scale(1);
              opacity: .7;
              box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
              background-color: #ffffff;
              animation: scaling 4s ease-out infinite;
              display: inline-block;
              margin: .5rem;

              &:nth-child(0) {
                animation-delay: 0s;
              }

              &:nth-child(1) {
                animation-delay: 0.2s;
              }

              &:nth-child(2) {
                animation-delay: 0.4s;
              }

              &:nth-child(3) {
                animation-delay: 0.6s;
              }

              &:nth-child(4) {
                animation-delay: 0.8s;
              }

              &:nth-child(5) {
                animation-delay: 1s;
              }
            }
          }

        }

        .rond {
          right: -11px;
          bottom: 86px;
        }
      }

      .content-C {
        position: relative;
        animation-delay: 1.3s;

        .content {
          top: -65px;
          width: max-content;
          right: 70px;

          .trait, hr {
            width: 59px;
            left: 39px;
            top: 19px;
            transform: matrix(-2.2, 0.9, 0.1, 1, 5, -33)
          }

          .hr-wrap {
            transform: rotate(160deg);
            top: -20px;
            right: 0;
            position: relative;
            animation: displayTrait 0.7s;
            &:before {
              content: "";
              display: inline-block;
              width: 35px;
              height: 35px;
              border-radius: 50px;
              background: white;
              opacity: 0.7;
              box-shadow: 0 0 0 0 white;
              animation: pulse-white 3s infinite;
              vertical-align: -3px;
            }
            .dot {
              height: 10px;
              width: 10px;
              border-radius: 50%;
              transform: scale(1);
              opacity: .7;
              box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
              background-color: #ffffff;
              animation: scaling 4s ease-out infinite;
              display: inline-block;
              margin: .5rem;

              &:nth-child(0) {
                animation-delay: 0s;
              }

              &:nth-child(1) {
                animation-delay: 0.2s;
              }

              &:nth-child(2) {
                animation-delay: 0.4s;
              }

              &:nth-child(3) {
                animation-delay: 0.6s;
              }

              &:nth-child(4) {
                animation-delay: 0.8s;
              }

              &:nth-child(5) {
                animation-delay: 1s;
              }
            }
          }

        }

        .rond {
          right: 49px;
          top: -48px;
        }
      }
    }

    .right {
      .content-A {
        position: relative;
        animation-delay: 0.4s;

        .content {
          top: 45px;
          right: -0px;
          text-align: right;

          .trait, hr {
            width: 31px;
            left: -122px;
            top: 42px;
            transform: matrix(-4, 0.3, 0.1, -1, -45, -40)
          }

          .hr-wrap {
            transform: rotate(345deg);
            top: 20px;
            right: 0;
            position: relative;
            animation: displayTrait 0.7s;
            &:before {
              content: "";
              display: inline-block;
              width: 35px;
              height: 35px;
              border-radius: 50px;
              background: white;
              opacity: 0.7;
              box-shadow: 0 0 0 0 white;
              animation: pulse-white 3s infinite;
              vertical-align: -3px;
            }
            .dot {
              height: 10px;
              width: 10px;
              border-radius: 50%;
              transform: scale(1);
              opacity: .7;
              box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
              background-color: #ffffff;
              animation: scaling 4s ease-out infinite;
              display: inline-block;
              margin: .5rem;

              &:nth-child(0) {
                animation-delay: 0s;
              }

              &:nth-child(1) {
                animation-delay: 0.2s;
              }

              &:nth-child(2) {
                animation-delay: 0.4s;
              }

              &:nth-child(3) {
                animation-delay: 0.6s;
              }

              &:nth-child(4) {
                animation-delay: 0.8s;
              }

              &:nth-child(5) {
                animation-delay: 1s;
              }
            }
          }

        }

        .rond {
          left: 59px;
          bottom: 44px;
        }
      }

      .content-B {
        position: relative;
        animation-delay: 1s;

        .content {
          top: 10px;
          right: 0px;
          text-align: right;

          .trait, hr {
            width: 30px;
            left: -114px;
            top: 45px;
            transform: matrix(3, 1.1, 0.1, -1, -5, -58)
          }

          .hr-wrap {
            transform: rotate(13deg);
            top: -9px;
            right: -35px;
            position: relative;
            animation: displayTrait 0.7s;
            &:before {
              content: "";
              display: inline-block;
              width: 35px;
              height: 35px;
              border-radius: 50px;
              background: white;
              opacity: 0.7;
              box-shadow: 0 0 0 0 white;
              animation: pulse-white 3s infinite;
              vertical-align: -3px;
            }
            .dot {
              height: 10px;
              width: 10px;
              border-radius: 50%;
              transform: scale(1);
              opacity: .7;
              box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
              background-color: #ffffff;
              animation: scaling 4s ease-out infinite;
              display: inline-block;
              margin: .5rem;

              &:nth-child(0) {
                animation-delay: 0s;
              }

              &:nth-child(1) {
                animation-delay: 0.2s;
              }

              &:nth-child(2) {
                animation-delay: 0.4s;
              }

              &:nth-child(3) {
                animation-delay: 0.6s;
              }

              &:nth-child(4) {
                animation-delay: 0.8s;
              }

              &:nth-child(5) {
                animation-delay: 1s;
              }
            }
          }

          .desc {
            right: -35px;
            top: 5px;
            position: relative;
          }

        }

        .rond {
          left: 125px;
          bottom: 104px;
        }
      }

      .content-C {
        position: relative;
        animation-delay: 1s;

        .content {
          top: -70px;
          right: auto;
          left: 10px;
          text-align: right;

          .trait, hr {
            width: 30px;
            left: -114px;
            top: 45px;
            transform: matrix(3, 1.1, 0.1, -1, -5, -58)
          }

          .hr-wrap {
            transform: rotate(13deg);
            top: -9px;
            right: -35px;
            position: relative;
            animation: displayTrait 0.7s;
            min-width: 130px;
            &:before {
              content: "";
              display: inline-block;
              width: 35px;
              height: 35px;
              border-radius: 50px;
              background: white;
              opacity: 0.7;
              box-shadow: 0 0 0 0 white;
              animation: pulse-white 3s infinite;
              vertical-align: -3px;
            }
            .dot {
              height: 10px;
              width: 10px;
              border-radius: 50%;
              transform: scale(1);
              opacity: .7;
              box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
              background-color: #ffffff;
              animation: scaling 4s ease-out infinite;
              display: inline-block;
              margin: .5rem;

              &:nth-child(0) {
                animation-delay: 0s;
              }

              &:nth-child(1) {
                animation-delay: 0.2s;
              }

              &:nth-child(2) {
                animation-delay: 0.4s;
              }

              &:nth-child(3) {
                animation-delay: 0.6s;
              }

              &:nth-child(4) {
                animation-delay: 0.8s;
              }

              &:nth-child(5) {
                animation-delay: 1s;
              }
            }
          }

          .desc {
            right: -50px;
            top: 5px;
            position: relative;
          }

        }

        .rond {
          left: 125px;
          bottom: 104px;
        }
      }
    }
  }


  .animate {
    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode: backwards;
  }

  /* Glow In */
  .animate.glow {
    animation-name: animate-glow;
    animation-timing-function: ease;
  }


  @keyframes animate-glow {
    0% {
      opacity: 0;
      filter: brightness(3) saturate(3);
      transform: scale(0.8, 0.8);
    }
    100% {
      opacity: 1;
      filter: brightness(1) saturate(1);
      transform: scale(1, 1);
    }
  }

  .delay-1 {
    animation-delay: 0.6s;
  }

  .delay-2 {
    animation-delay: 0.7s;
  }

  .delay-3 {
    animation-delay: 0.8s;
  }


  @keyframes pulse-white {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

  @keyframes scaling {
    0% {
      transform: scale(0.2);
      background-color: #ffffff;
    }
    30% {
      transform: scale(1);
      background-color: #ffffff;
    }
    100% {
      transform: scale(0.2);
      background-color: #ffffff;
    }

  }

}
