<div class="wrapper" style="background: url('http://bewatched.fr/assets/watches/jaegerlecoultre/5.png')">
  <div class="left">
    <div class="content-A animate glow ">
      <div class="content">
        <span class="desc">Bracelet <br> en cuir</span>
        <div class="hr-wrap">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
      <span class="rond"></span>
    </div>
    <div class="content-B animate glow ">
      <div class="content">
        <span class="desc">Bracelet <br> en cuir</span>
        <div class="hr-wrap">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
      <span class="rond"></span>
    </div>
    <div class="content-C animate glow ">
      <div class="content">
        <span class="desc">44.5mm <br> de <br>diamètre</span>
        <div class="hr-wrap">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
      <span class="rond"></span>
    </div>
  </div>
  <div class="right">
    <div class="content-A animate glow ">
      <div class="content">
        <div class="hr-wrap">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <span class="desc">Bracelet <br> en cuir</span>
      </div>
      <span class="rond"></span>
    </div>
    <div class="content-B animate glow ">
      <div class="content">
        <div class="hr-wrap">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <span class="desc">Bracelet <br> en cuir</span>
      </div>
      <span class="rond"></span>
    </div>
    <div class="content-C">
    </div>
  </div>
</div>
