<div class="wrapper" *ngIf="pathImageDetailMontre"
     [ngStyle]="{ 'background-image': 'url(' + pathImageDetailMontre + ')'}">
  <div class="left">
    <div class="content-A animate glow ">
      <div class="content">
        <span class="desc">Bracelet <br> {{montre.strap}}</span>
        <div class="hr-wrap">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
    </div>
    <div class="content-B animate glow ">
      <div class="content">
        <span class="desc">Boite {{montre.dial}}</span>
        <div class="hr-wrap">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
    </div>
    <div class="content-C animate glow ">
      <div class="content">
        <span class="desc">{{montre.dimensions}} de diamètre</span>
        <div class="hr-wrap">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="content-A animate glow ">
      <div class="content">
        <div class="hr-wrap">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <span class="desc">Cadran <br> {{montre.case}}</span>
      </div>
    </div>
    <div class="content-B animate glow ">
      <div class="content">
        <div class="hr-wrap">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <span class="desc">Bracelet <br> en cuir</span>
      </div>
    </div>
    <div class="content-C">
    </div>
  </div>
</div>
