<div class="wrapper">
  <div class="left">
    <div class="content-A animate glow ">
      <div class="content">
        <span class="desc">Bracelet <br> en cuir</span>
        <div class="hr-wrap">
          <hr>
        </div>
      </div>
      <span class="rond"></span>
    </div>
    <div class="content-B animate glow ">
      <div class="content">
        <span class="desc">Bracelet <br> en cuir</span>
        <div class="hr-wrap">
          <hr>
        </div>
      </div>
      <span class="rond"></span>
    </div>
    <div class="content-C animate glow ">
      <div class="content">
        <span class="desc">Bracelet <br> en cuir</span>
        <div class="hr-wrap">
          <hr>
        </div>
      </div>
      <span class="rond"></span>
    </div>
  </div>
  <div class="right">
    <div class="content-A animate glow ">
      <div class="content">
        <span class="desc">Bracelet <br> en cuir</span>
        <div class="hr-wrap">
          <hr>
        </div>
      </div>
      <span class="rond"></span>
    </div>
    <div class="content-B animate glow ">
      <div class="content">
        <span class="desc">Bracelet <br> en cuir</span>
        <div class="hr-wrap">
          <hr>
        </div>
      </div>
      <span class="rond"></span>
    </div>
    <div class="content-C">
    </div>
  </div>
</div>
