@import "../../../variable";

.wrapper {
  display: flex;
  width: 600px;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url('https://www.omegawatches.com/media/catalog/product/cache/a5c37fddc1a529a1a44fea55d527b9a116f3738da3a2cc38006fcc613c37c391/o/m/omega-seamaster-diver-300m-co-axial-master-chronometer-42-mm-21090422001001-l.png');
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 700px;
  .left, .right {
    display: flex;
    flex-direction: column;
    flex:1;
    height: 100%;
    justify-content: space-between;
    div {
      flex:1;
      span {
        color:$secondaryColor;
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
      }
    }
    .content {
      position: absolute;
      display:flex;
      border:0;
      align-items: center;
      span {
        font-weight: bold;
        text-decoration: underline;
        line-height: 1;
        text-transform: uppercase;
      }
      .trait, hr {
        height: 1px;
        border: 2px dotted white;
        background: transparent;
        position:relative;
        opacity: 1;
      }

    }
    .rond {
      width: 42px;
      height: 42px;
      border-radius: 50px;
      background: white;
      position: absolute;
      opacity: 0.4;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
      animation: pulse-white 2s infinite;
    }
  }

  .left {
    .content-A {
      animation-delay: 0.5s;
      position:relative;
      .content {
        bottom: 42px;
        .trait, hr {
          width: 42px;
          left: 56px;
          top:30px;
          transform:matrix(-3, 1.9, 0.1, 1, 0, -68)
        }
        .hr-wrap {
          transform: rotate(348deg);
          top: -15px;
          left: 10px;
          position: relative;
          animation: displayTrait 0.7s;
          .dot{
            height: 10px;
            width: 10px;
            border-radius:50%;
            transform: scale(1);
            opacity: 0.6;
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
            animation: scaling 4s ease-out infinite;
            display: inline-block;
            margin:.5rem;
            &:nth-child(0){
              animation-delay:0s;
            }
            &:nth-child(1){
              animation-delay:0.2s;
            }
            &:nth-child(2){
              animation-delay:0.4s;
            }
            &:nth-child(3){
              animation-delay:0.6s;
            }
            &:nth-child(4){
              animation-delay:0.8s;
            }
            &:nth-child(5){
              animation-delay:1s;
            }
          }
        }


      }
      .rond {
        right: 50px;
        top: 110px;
      }
    }
    .content-B {
      animation-delay: 2s;
      position:relative;
      .content {
        top: 55px;
        .trait, hr {
          width: 64px;
          left: 34px;
          top:13px;
          transform:matrix(3, 0.8, 0.1, 1, 38, 13)
        }
        .hr-wrap {
          transform: rotate(11deg);
          top: 30px;
          left: 5px;
          position: relative;
          animation: displayTrait 0.7s;
          .dot{
            height: 10px;
            width: 10px;
            border-radius:50%;
            transform: scale(1);
            opacity: 0.6;
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
            background-color: #ffffff;
                        animation: scaling 4s ease-out infinite;
            display: inline-block;
            margin:.5rem;
            &:nth-child(0){
              animation-delay:0s;
            }
            &:nth-child(1){
              animation-delay:0.2s;
            }
            &:nth-child(2){
              animation-delay:0.4s;
            }
            &:nth-child(3){
              animation-delay:0.6s;
            }
            &:nth-child(4){
              animation-delay:0.8s;
            }
            &:nth-child(5){
              animation-delay:1s;
            }
          }
        }

      }
      .rond {
        right: -45px;
        bottom: 52px;
      }
    }
    .content-C {
      position:relative;
      animation-delay: 2.5s;
      .content {
        top: -18px;
        .trait, hr {
          width: 59px;
          left: 39px;
          top:19px;
          transform:matrix(-2.2, 0.9, 0.1, 1, 5, -33)
        }
        .hr-wrap {
          transform: rotate(-15deg);
          top: -20px;
          left: 5px;
          position: relative;
          animation: displayTrait 0.7s;
          .dot{
            height: 10px;
            width: 10px;
            border-radius:50%;
            transform: scale(1);
            opacity: 0.6;
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
            background-color: #ffffff;
                        animation: scaling 4s ease-out infinite;
            display: inline-block;
            margin:.5rem;
            &:nth-child(0){
              animation-delay:0s;
            }
            &:nth-child(1){
              animation-delay:0.2s;
            }
            &:nth-child(2){
              animation-delay:0.4s;
            }
            &:nth-child(3){
              animation-delay:0.6s;
            }
            &:nth-child(4){
              animation-delay:0.8s;
            }
            &:nth-child(5){
              animation-delay:1s;
            }
          }
        }

      }
      .rond {
        right: 62px;
        top: -58px;
      }
    }
  }
  .right {
    .content-A {
      position:relative;
      animation-delay: 1s;
      .content {
        bottom: 53px;
        right: -45px;
        text-align: right;
        .trait, hr {
          width: 31px;
          left: -122px;
          top:42px;
          transform:matrix(-4, 0.3, 0.1, -1, -45, -40)
        }
        .hr-wrap {
          transform: rotate(360deg);
          top: 10px;
          right: 20px;
          position: relative;
          animation: displayTrait 0.7s;
          .dot{
            height: 10px;
            width: 10px;
            border-radius:50%;
            transform: scale(1);
            background-color: #ffffff;
            opacity: 0.6;
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
                        animation: scaling 4s ease-out infinite;
            display: inline-block;
            margin:.5rem;
            &:nth-child(0){
              animation-delay:0s;
            }
            &:nth-child(1){
              animation-delay:0.2s;
            }
            &:nth-child(2){
              animation-delay:0.4s;
            }
            &:nth-child(3){
              animation-delay:0.6s;
            }
            &:nth-child(4){
              animation-delay:0.8s;
            }
            &:nth-child(5){
              animation-delay:1s;
            }
          }
        }

      }
      .rond {
        left: 56px;
        bottom: 44px;
      }
    }
    .content-B {
      position:relative;
      animation-delay: 1.5s;
      .content {
        top: 79px;
        right: -45px;
        text-align: right;
        .trait, hr {
          width: 30px;
          left: -114px;
          top:45px;
          transform:matrix(3, 1.1, 0.1, -1, -5, -58)
        }
        .hr-wrap {
          transform: rotate(13deg);
          top: 50px;
          right: -35px;
          position: relative;
          animation: displayTrait 0.7s;
          .dot{
            height: 10px;
            width: 10px;
            border-radius:50%;
            transform: scale(1);
            opacity: 0.6;
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
            background-color: #ffffff;
                        animation: scaling 4s ease-out infinite;
            display: inline-block;
            margin:.5rem;
            &:nth-child(0){
              animation-delay:0s;
            }
            &:nth-child(1){
              animation-delay:0.2s;
            }
            &:nth-child(2){
              animation-delay:0.4s;
            }
            &:nth-child(3){
              animation-delay:0.6s;
            }
            &:nth-child(4){
              animation-delay:0.8s;
            }
            &:nth-child(5){
              animation-delay:1s;
            }
          }
        }
        .desc{
          right: -50px;
          top:50px;
          position: relative;
        }

      }
      .rond {
        left: 165px;
        bottom: 80px;
      }
    }
  }
}





.animate {
  animation-duration: 0.75s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}

/* Glow In */
.animate.glow {
  animation-name: animate-glow;
  animation-timing-function: ease;
}



@keyframes animate-glow {
  0% {
    opacity: 0;
    filter: brightness(3) saturate(3);
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    filter: brightness(1) saturate(1);
    transform: scale(1, 1);
  }
}

.delay-1 {
  animation-delay: 0.6s;
}
.delay-2 {
  animation-delay: 0.7s;
}
.delay-3 {
  animation-delay: 0.8s;
}


@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes scaling{
  0%{
    transform: scale(0.2);
    background-color: #ffffff;
  }
  30%{
    transform: scale(1);
    background-color: #ffffff;
  }
  100%{
    transform: scale(0.2);
    background-color: #ffffff;
  }
}
