<div class="container" >
  <ng-container *ngFor="let montre of panier">
    <a routerLink="../detail/{{montre.id}}">
      <app-montre-item-recap [montre]="montre"></app-montre-item-recap>
    </a>
  </ng-container>
  <ng-container>
    <div class="bw-container-accessoires d-flex flex-column">
      <span class="bw-title">Laissez-vous tenter par nos accessoires: </span>
      <div class="d-flex bw-container">
        <ng-container *ngFor="let accessory of accessories">
          <app-accessoires [totalPanier]="totalPanier" [accessory]="accessory"> </app-accessoires>
        </ng-container>
      </div>


    </div>
  </ng-container>
  <div class="container" *ngIf="activeTemplatePanierVide">
    <span>Votre panier est vide ...</span>
    <div class="button d-flex">
      <button  type="button" class="btn btn-mobile" (click)="redirectToShop()" >Retourner à la boutique</button>
    </div>
  </div>
  <div class="total d-flex">
    Total de votre panier : {{totalPanier}}€
  </div>
  <div [formGroup]="cgvControl" class="cgv {{hasError ? 'error' : ''}}">
    <mat-checkbox class="example-margin" formControlName="checkCGV">
      En cliquant sur Continuer, vous acceptez les Conditions Générales de Vente
    </mat-checkbox>
  </div>
  <div class="error">
    <span *ngIf="hasError">Veuillez cocher les Conditions Générales de Vente pour continuer</span>
  </div>

</div>





