@import "../../../../variable";
.modele {
  color: #1e1d23;
  font-family: "Louis George Cafe", sans-serif;
  font-style: italic;
  font-size:16px;
}

.prix {
  color: #1e1d23;
  font-family: "Louis George Cafe", sans-serif;
  font-weight: bold;
  font-size:23px;
  padding: 12px 0
}

.btn {
  background: #eddaca;
  border: 0 !important;
  border-radius: 50px;
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  color:#1e1d23;
  box-shadow: 0 0 20px 0px #36363614, 0 0 20px 0 rgb(47 47 47 / 18%);
  font-family: "Louis George Cafe", sans-serif;
  font-weight: bold;
  width: 135px;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
  }
}

.cart-button {
  position: relative;
  box-shadow: 0 0 20px 0px #36363614, 0 0 20px 0 rgb(47 47 47 / 18%);
  font-family: "Louis George Cafe", sans-serif;
  font-weight: bold;
  width: 135px;
  background: #eddaca;
  border: 0 !important;
  border-radius: 50px;
  height: 30px;
  outline: none;
  cursor: pointer;
  color:#1e1d23;
  transition: .3s ease-in-out;
  overflow: hidden;
}


.cart-button .bi-cart {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -10%;
  font-size: 2em;
  transform: translate(-50%,-50%);
}
.cart-button .bi-box {
  position: absolute;
  z-index: 3;
  top: -35%;
  left: 52%;
  font-size: 1.2em;
  transform: translate(-60%,-60%);
}
.cart-button span {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  font-size: 1.2em;
  color: #fff;
  transform: translate(-50%,-50%);
}
.cart-button span.add-to-cart {
  opacity: 1;
}
.cart-button span.added {
  color:#1e1d23;
  opacity: 0;
  font-family: "Louis George Cafe", sans-serif;
  font-size:12px;
  text-transform: uppercase;
}

.cart-button.clicked .bi-cart {
  animation: cart 1.5s ease-in-out forwards;
}
.cart-button.clicked .bi-box {
  animation: box 1.5s ease-in-out forwards;
}
.cart-button.clicked span.add-to-cart {
  animation: txt1 1.5s ease-in-out forwards;
}
.cart-button.clicked span.added {
  animation: txt2 1.5s ease-in-out forwards;
}

@keyframes cart {
  0% {
    left: -10%;
  }
  40%, 60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}
@keyframes box {
  0%, 40% {
    top: -20%;
  }
  60% {
    top: 40%;
    left: 52%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}
@keyframes txt1 {
  0% {
    opacity: 1;
  }
  20%, 100% {
    opacity: 0;
  }
}
@keyframes txt2 {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


