@import "../../../../variable";

.wrapper {
  width: 100%;
  img {
    width: 100px;
  }
  .infos {
    padding: 0 25px;
    flex:2;
  }
  .modele {
    color: #1e1d23;
    font-family: "Louis George Cafe", sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  .info {
    color: #1e1d23;
    font-family: "Louis George Cafe", sans-serif;
    font-size: 14px;
    padding: 10px 0;
    line-height: 1.3;
  }
  .tarifs {
    align-self: center;
    font-size: 30px;
    color: #1e1d23;
    font-family: "Louis George Cafe", sans-serif;
    font-weight: bold;
    padding: 0 30px;
  }
  .delete-btn {
    align-self: center;
    .btn {

      background: #eddaca;
      border: 0 !important;
      border-radius: 50px;
      position: relative;
      font-size: 16px;
      color:#272727;
      box-shadow: 0 0 20px 0px #36363614, 0 0 20px 0 rgb(47 47 47 / 18%);
      font-family: "Louis George Cafe", sans-serif;
      font-weight: bold;
      width: 135px;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.1);
        transition: transform 0.2s;
      }
    }
  }
}
