<div class="wrapper d-flex">
  <div class="image">
    <img src="{{pathImageDetail}}" alt="">
  </div>
  <div class="infos d-flex flex-column justify-content-center ">
    <span>{{montre.brand.name}}</span>
    <span class="modele">{{montre.model}}</span>
    <span class="info">
      Expédition sous 24h <br>
      Garantie 6 mois <br>
      Retour gratuit (30j)
    </span>
  </div>
  <div class="tarifs">
    {{montre.price}}€
  </div>
  <div class="delete-btn">
    <button  type="button" class="btn btn-mobile" >Supprimer</button>
  </div>
</div>
