@import "../../../variable";
:host{
  width: 100%;
}


.our-story-title{
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
  @media screen and (min-width: $desktop-breakpoint){
    font-size: 70px;
  }
}
.coutures{
  background-image: url("../../../assets/coutures-brown.png");
  height: 7px;
  margin-bottom: 65px;
}


