<h1 class="our-story-title">
  <span style="color: #37251d;">Notre</span>&nbsp;
  <span style="color: #553d33;">histoire</span>
</h1>
<div class="coutures"></div>
<div class="our-story">
  <p class="paragraph-1">
    Le marché du vintage a tellement à offrir! Mais comment acheter en toute confiance des gardes temps datant parfois de plus de 50 ans?
    Bewatched est né pour fiabiliser ce marché des montres vintage, vous permettant ainsi d’acquérir des pièces de belle facture, sélectionnées avec soins et révisées avant expédition.
  </p><br>
  <p class="paragraph-2">Nous souhaitons «Rendre l’accès au vintage simple et accecible» - Titouan, Fondateur de Bewatched.
  </p><br>
  <p class="paragraph-3">
    Qualité et transparence font partie des valeurs qui guident notre projet.
    Nous avons élaboré un processus robuste de l’approvisionnement jusqu’à la mise en vente.
<br>
    On vous explique tout:
  </p><br>
  <p class="paragraph-4">
    Nous sélectionnons avec soin des montres qui répondent à nos premiers critères esthétiques et fonctionnels. Priorité aux montres avec toutes pièces d’origine et en excellent état de conservation. Ensuite, les montres sont confiées aux mains de nos horlogers, qui vérifieront pas moins de 15 critères qualité. Nettoyage, révision, remise à niveau des huiles, test de la réserve de marche, tout est analysé afin de garantir la livraison d’une montre qui vous apportera pleine satisfaction! Après un dernier coup de nettoyage, nos belles seront prêtes à passer sous l’objectif de l’appareil photo. Nous essayons d’être le plus fidèle possible à travers les photos et descriptions. Certaines pièces présentent des défauts d’usures, après plusieurs dizaines d’années c’est bien normal! Cela fait définitivement partie du charme du vintage.
  </p>
</div>
<h2 class="our-story-title">
  <span style="color: #37251d;">Notre</span>&nbsp;
  <span style="color: #553d33;">équipe</span>
</h2>
<div class="our-story">
  <p class="paragraph-1">
    Employé en logistique dans une manufacture horlogère.
    Fasciné par ce milieu que j’ai découvert lors d’un stage à la Fabrique du Temps (Louis-Vuitton), j’ai décidé de vivre pleinement l’aventure en créant Bewatched. Notre volonté est de dénicher les plus belles montres vintages et de les vendre aux clients en toute confiance grâce à nos critères qualité exigent. Tout le monde mérite d’avoir une belle montre, c’est pourquoi nous ne nous limitons pas à une gamme particulière. Pour un premier achat ou pour compléter votre collection grandissante, faites-nous confiance!
    <br>
    Titouan Guerinon, Fondateur de Bewatched

  </p>
  <div class="paragraph-1">
    Nos horlogers : Formés en Suisse, nos Horlogers diplômés d’état sont avant tout passionnés.
    Nous leur laissons le temps de bien faire les choses, c’est essentiel afin garantir un excellent niveau de qualité. Focalisés sur la satisfaction clients, ils travaillent avec une grande minutie afin de livrer des pièces répondant à nos critères qualité. Grâce à leur réseau ; ils sont capables de s’approvisionner des composants d’origine d’époque, une vraie plus-value pour respecter le caractère singulier de la montre. Révisions, nettoyage, polissage, changement de glace, nous nous feront un plaisir de revoir votre montre revenir en atelier. Contactez-nous afin d’avoir un devis personnalisé.
  </div>
</div>

<span class="signature">Titouan Guerinon</span>
