<h1 class="our-story-title">
  <span style="color: #37251d;">Notre</span>&nbsp;
  <span style="color: #553d33;">histoire</span>
</h1>
<div class="coutures"></div>
<div class="our-story">
  <p class="paragraph-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
  </p>
  <p class="paragraph-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
  </p>
  <p class="paragraph-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecen.
  </p>
  <span class="signature">Titouan Guerinon</span>
  <span>Fondateur</span>
</div>
