@import "../../variable";
.wrap {
  padding: 35px 25px;
  z-index: 1111;
  position: relative;
  app-filtres-mobile {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    padding: 0 20px;
    @media screen and(min-width: $desktop-breakpoint) {
      display: none;
    }
  }
  app-filtres-dsktop {
    display:none;
    @media screen and(min-width: $desktop-breakpoint) {
      display: block;
      position: relative;
      z-index: 1115;
      padding: 0 120px;
    }
  }

}


