<div class="wrap ">
  <div class="intro" *ngIf="!isLoading">
    <ng-container *ngIf="nombreMontres >= 1">
      <span class="number">{{nombreMontres}}</span>
      <span> montres trouvées</span>
    </ng-container><span *ngIf="nombreMontres == 0">Aucune montre trouvée</span>
  </div>
  <div class="filters" *ngIf="!isLoading">
    <app-filtres-mobile></app-filtres-mobile>
    <app-filtres-dsktop></app-filtres-dsktop>
  </div>
  <div class="wrap-shop" *ngIf="!isLoading">
    <ng-container *ngFor="let listeMontre of finalListeMontre">
      <app-liste-montres-shop  [listeMontres]="listeMontre"></app-liste-montres-shop>
    </ng-container>
  </div>
    <div class="loader" *ngIf="isLoading">
      <app-loader></app-loader>
    </div>
</div>
