@import "../../variable";
:host{
  width: 100%;
}
.wrap {
  z-index: 11;
  position: relative;
  display: flex;
  flex-direction: column;

  app-filtres-mobile {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    padding: 0 20px;
    @media screen and(min-width: $desktop-breakpoint) {
      display: none;
    }
  }
  app-filtres-dsktop {
    display:none;
    @media screen and(min-width: $desktop-breakpoint) {
      display: block;
      //position: relative;
      z-index: 1115;
      padding: 0 120px;
    }
  }
  .intro {
    padding: 20px 120px 10px;
   // position: fixed;
    z-index: 99;
  }
  .filters{
    //position: fixed;
    margin-top: 10px;
    z-index: 9999;
  }
  span {
    color: #1e1d23;
    font-family: "Louis George Cafe", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    font-size:25px;
    &.number {
      font-family: "Biko_Regular", sans-serif;
      font-size: 24.5px;
    }
  }

  .wrap-shop {
  }

}

