<div class="wrap">
  <app-filtres-mobile></app-filtres-mobile>
  <app-filtres-dsktop></app-filtres-dsktop>
  <div class="intro">
    <ng-container *ngIf="nombreMontres >= 1">
      <span class="number">{{nombreMontres}}</span>
      <span> montres trouvées</span>
    </ng-container><span *ngIf="nombreMontres == 0">Aucune montre trouvée</span>
  </div>
  <ng-container *ngFor="let listeMontre of finalListeMontre">
    <app-liste-montres-shop [listeMontres]="listeMontre"></app-liste-montres-shop>
  </ng-container>
</div>
