@import "../../variable";

:host{
  width: 100%;
}

.check {
  top:15px;
  right: 20px;
}

.our-story-title{
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
  @media screen and (min-width: $desktop-breakpoint){
    font-size: 70px;
  }
}
.coutures{
  background-image: url("../../assets/coutures-brown.png");
  height: 7px;
  margin-bottom: 65px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin:auto;
  form {
    width: 100%;
    .form-control {
      background: rgba(255,255,255, 0.3);
      border: 0 !important;
      border-radius: 50px;
      font-size: 16px;
      margin: 10px 0;
      color:#272727;
      box-shadow: 0 0 20px 0px #36363614, 0 0 20px 0 rgb(47 47 47 / 18%);
      font-family: "Louis George Cafe", sans-serif;
      font-weight: bold;
    }
  }

  .paypal {
    width: 100%;
    margin-top: 25px;
  }
  .total, .paiement, .btn {
    width: 100%;
  }
  .btn, .total, .paiement {
    padding: 20px 0 0 !important;
  }
  .back-to-shop {
    text-transform: initial !important;
    padding: 5px 15px !important;
    width: auto !important;;
    &.disabled {
      &:hover {
        transform: scale(1) !important;
        cursor: not-allowed;
      }
    }
    &.valid {
      background-color: $secondaryColor !important;
      &:hover {
        transform: scale(1.1) !important;
      }
    }
  }
}

.flex-one {
  flex:1;
}

.flex-one + .flex-one {
  margin-left:20px;
}




