/* You can add global styles to this file, and also import other style files */
@import "variable";
body {
  background-image: url('assets/background-white.png');
}
.swiper-wrapper {
 align-items: center;
}
a{
  text-decoration: none;
}
.realWidth {
  &.little {
    img {
      transform: scale(1);
      width: auto !important;
      height: 280px;
      transition: transform 0.3s
    }
  }
}
  .little {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      transform: scale(0.6);
      transition: transform 0.3s;
    }
  }



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.theme-default {
  nav {
    background-image: url('assets/background-brown.png');
  }
  .burger {
    &.close {
      background-image: url("assets/background-brown.png");
    }
  }
}

.theme-longine {
  nav {
    background-image:none;
    background: red;
  }
}

.theme-tissot {

}
