/* You can add global styles to this file, and also import other style files */
@import "variable";
::-webkit-scrollbar {
  display: none;
}
.bg-light {
  --bs-bg-opacity: 0;
  background-color: transparent!important;
}
body {
  background-image: url('assets/background-watches/bg-omega.png');
  background-position: center;
}
.swiper-wrapper {
 align-items: center;
}
a{
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
  &:hover{
    color: white;

  }
}
.realWidth {
  &.little {
    img {
      transform: scale(1);
      width: auto !important;
      height: 280px;
      transition: transform 0.3s
    }
  }
}
  .little {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      transform: scale(0.6);
      transition: transform 0.3s;
    }
  }



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.theme-default {
  nav {
    background: none;
    --bs-bg-opacity: 0;
  }
  .burger {
    &.close {
      background-image: url("assets/background-brown.png");
    }
  }
}

.theme-longine {
  nav {
    .navbar-brand{
      background-image:none !important;
    }
    background-image:none !important;
  }
}

.theme-tissot {

}
