/* You can add global styles to this file, and also import other style files */
@import "variable";
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
.bg-light {
  --bs-bg-opacity: 0;
  background-color: transparent!important;
}
body {
  .content{
    height: 100%;
    min-height: 100%;
  }
}
.swiper-wrapper {

}
.swiper-slide img{
  display: block;
  width: 100%;
  max-width: 450px;
  height: 100%;
  object-fit: cover;
}
a{
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
  &:hover{
    color: white;

  }
}
.realWidth {
  &.little {
    img {
      transform: scale(1);
      width: auto !important;
      height: 280px;
      transition: transform 0.3s
    }
  }
}
  .little {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      transform: scale(0.6);
      transition: transform 0.3s;
    }
  }



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.swiper-slide  {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}



.paypal-button-container {
    display: flex !important;
    flex-direction: row-reverse !important;
}


/**
THEME DYNAMIQUE EN FONCTION DE LA MARQUE
 */
.panier {
  background: rgba(255, 255, 255, 0.3);
}
.theme-default {
  background-image: url('assets/background-home.png');
  background-position: left;
  background-repeat: repeat;
  background-size: 50%;
  nav{
    background-image: url('assets/background-brown.png');
    box-shadow: 0 0 20px 5px #36251db5;
    background-size: 15%;
    .badge {
      background-color: $secondaryColor !important;
    }
    .icons {
      .panier {
        svg {
          fill: white !important
        }
        &.open {
          background: rgba(255, 255, 255, 1);
          svg {
            fill: $secondaryColor !important
          }
        }
        &.menu-open {
          svg {
            fill: white;
          }
        }
      }
    }
  }
  .navbar-brand {
    @media screen and(min-width: $desktop-breakpoint) {
      background-size: 200%;
    }
  }
  .navbar-text {
    input {
      color:#f0c58f;
    }
    input.form-control::placeholder {
      color:white;
    }

    input.menu-open::placeholder {
      color:white;
    }
  }
  .search {
    color: white;
  }
  .btn-valider-panier {
    background: #391f17;
  }
  .burger {
    &.close {

    }
    &.open {
      background: url('assets/background-brown.png') top left;
    }
  }
  .icon-delete-montre-panier {
    svg {
      fill: $secondaryColor !important
    }
  }
  .desktop-menu {
    background-image: url('assets/background-home.png');
    li {
      color: $secondaryColor;
      &:hover {
        background-image: url('assets/background-home.png');
        background-size: 120%;
      }
    }
  }
  .details {
    .modele {
      .ref {
        background-image: url('assets/background-brown.png');

      }
    }
  }
}
.theme-omega {
  background-image: url('assets/background-watches/bg-omega.png');
  background-position: top center;
  background-repeat: repeat;
  background-size: 60%;
  .navbar-brand {
    @media screen and(min-width: $desktop-breakpoint) {
      background-image: url('assets/background-logo.png');
    }
  }
  nav {
    .badge {
      background-color: $secondaryColor !important;
    }
    .icons {
      .panier {
        svg {
          fill: $secondaryColor !important
        }
        &.open {
          background: rgba(255, 255, 255, 1) !important;
          svg {
            fill: $secondaryColor !important
          }
        }
        &.menu-open {
          svg {
            fill: white;
          }
        }
      }
    }
  }
  .icon-delete-montre-panier {
    svg {
      fill: $secondaryColor !important
    }
  }
  .navbar-text {
    input {
      color:$secondaryColor;
    }
    input.form-control::placeholder {
      color:$secondaryColor;
    }

    input.menu-open::placeholder {
      color:white;
    }
  }
  .btn-valider-panier {
    background: #391f17;
  }
  .burger {
    &.close {
      background-image: url("assets/background-brown.png");
      background-size: 120%;
    }
    &.open {
      background: url('assets/background-brown.png') top left;
      background-size: 120%;
    }
  }
  .desktop-menu {
    background-image: url('assets/background-home.png');
    li {
      color: $secondaryColor;
      &:hover {
        background-image: url('assets/background-home.png');
        background-size: 120%;
      }
    }
  }
  .details {
    .modele {
      .ref {
        background-image: url('assets/background-brown.png');
        background-size: 120%;
      }
    }
  }
}
.theme-longines {
  background-image: url('assets/background-watches/bg-longines.png');
  background-position: top center;
  background-repeat: repeat;
  background-size: 60%;
  nav {
    .badge {
      background-color:  #93a5b9 !important;
    }
    .icons {
      .panier {
        svg {
          fill: #2a547b !important
        }
        &.open {
          background: #2a547b;
          svg {
            fill: #93a5b9 !important
          }
        }
        &.menu-open {
          svg {
            fill: white !important;
          }
        }
      }
    }
  }
  .btn-valider-panier {
    background: #2a547b;
  }
  .icon-delete-montre-panier {
    svg {
      fill: #93a5b9 !important
    }
  }
  .navbar-brand {
    color: white !important;
    h1 {
      color: #93a5b9 !important;
    }
    @media screen and(min-width: $desktop-breakpoint) {
      background-image: url('assets/background-blue.png');
    }
  }
  .navbar-text {
    input {
      color:#93a5b9;
    }
    input.menu-open::placeholder {
      color:white;
    }
  }
  .burger {
    &.close {
      background-image: url("assets/background-blue.png");
      background-size: 120%;
    }
    &.open {
      background-image: url('assets/background-blue.png');
      background-size: 120%;
    }
  }
  .desktop-menu {
    background-image: url('assets/background-watches/background-black-white.png');
    li {
      color: #93a5b9 !important;
      &:hover {
        background-image: url('assets/background-watches/background-black-white.png');
        background-size: 120%;
      }
    }
  }
  .details {
    .modele {
      .ref {
        background-image: url('assets/background-blue.png');
        background-size: 120%;
      }
    }
  }
}
.theme-jaeger {
  background-image: url('assets/background-watches/bg-black-white.png');
  background-position: top center;
  background-repeat: repeat;
  background-size: 60%;
  nav {
    .badge {
      background-color:  #9a9999 !important;
    }
    .icons {
      .panier {
        svg {
          fill: #2f2f2f !important
        }
        &.open {
          background: #2f2f2f;
          svg {
            fill: #9a9999 !important
          }
        }
        &.menu-open {
          svg {
            fill: white !important;
          }
        }
      }
    }
  }
  .btn-valider-panier {
    background: #2f2f2f;
  }
  .icon-delete-montre-panier {
    svg {
      fill: #9a9999 !important
    }
  }
  .navbar-brand {
    color: white !important;
    h1 {
      color: #9a9999 !important;
    }
    @media screen and(min-width: $desktop-breakpoint) {
        background-image: url('assets/background-black-white.png');
    }
  }
  .navbar-text {
    input {
      color:#9a9999;
    }
    input.menu-open::placeholder {
      color:white;
    }
  }
  .burger {
    &.close {
      background-image: url("assets/background-black-white.png");
      background-size: 120%;
    }
    &.open {
      background-image: url("assets/background-black-white.png");
      background-size: 120%;
    }
  }
  .desktop-menu {
    background-image: url('assets/background-watches/background-black-white.png');
    li {
      color: #9a9999 !important;
      &:hover {
        background-image: url('assets/background-watches/background-black-white.png');
        background-size: 120%;
      }
    }
  }
  .details {
    .modele {
      .ref {
        background-image: url('assets/background-black-white.png');
        background-size: 120%;
      }
    }
  }
}
.theme-tissot {
}
