$primaryColor: #f0c58f;
$secondaryColor: #593c30;
$thirdColor: #e3c4a4;

@font-face {
  font-family: "Louis George Cafe";
  src: url("assets/fonts/Louis-George-Cafe.ttf") format("truetype")
}

@font-face {
  font-family: "social media";
  src: url("assets/fonts/social-media.ttf") format("truetype")
}

@font-face {
  font-family: "Biko_Regular";
  src: url("assets/fonts/Biko_Regular.otf") format("opentype")
}

$tablet-breakpoint: '640px';
$desktop-breakpoint: '1024px';

$variable-menu-animation-time: 1s;
$variable-burger-animation-time: .35s;

$variable-menu-animation-function:    cubic-bezier(.25, .1, .25, 1);
$variable-menu-animation-function2:    cubic-bezier(1, .25, .1, .25);
$variable-burger-animation-function:  cubic-bezier(.68, -.55, .265, 1.55);

popover-container {
  top:0 !important;
  left: 0!important;
  border: 0 !important;
  border-radius: 17px !important;
  width: 301px !important;
  z-index: 1115 !important;
  @media screen and(max-width: $tablet-breakpoint){
  transform: translate3d(65px, 58px, 0) !important;
    .arrow {
      left: 209px !important;
    }
  }
  @media screen and(min-width: $desktop-breakpoint) {
    top:10px !important;
    left: -18px !important;
  }
}

@keyframes checkboxCheckedAnimation {
  50% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}

@keyframes checkboxCheckedAnimationOut {
  50% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 100vw;
    height: 100vh;

  }
}

@keyframes checkboxUncheckedAnimation {
  0% {
    width: 100vw;
    height: 100vh;
  }
}

@keyframes boutonDesktop {
  0% {
    transform: translate(0%, 0px);
  }
  100% {
    transform: translate(450%, 0px);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
