@import "../../variable";

:host {
flex:1;
  width: 100%;
  @media screen and(min-width: $desktop-breakpoint) {
  display:flex;
  width: 100%;
  }
}

.main-wrapper {
  flex-direction: column;
  @media screen and(min-width: $desktop-breakpoint) {
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  .intro {
    width: 100%;
    padding-top: 32px;
    text-align: center;
    .intro-desktop {
      display: none;
    }
    button {
      display: none;
    }
    @media screen and(min-width: $desktop-breakpoint) {
      display: flex;
      flex:2;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .background {

      }
      .intro-desktop {
        display: flex;
        flex-direction: column;

      }
      .intro-mobile {
        display: none;
      }
      button {
        display: flex;
        position: relative;
        top:8px;
        vertical-align: baseline;
        line-height: 1;
        z-index: 111;
        align-items: center;
        justify-content: space-evenly;
        width: 300px;
        background-image: url('../../assets/background-brown.png');
        background-size: 70%;
        border-radius: 50px;
        font-size: 16px;
        font-family: "Louis George Cafe", sans-serif;
        font-weight: bold;
        height: 55px;
        outline: none !important;
        box-shadow: none;
        border: 0;


        .search {
          fill: white;
          width: 20px;
        }
        &.anim {
          animation: boutonDesktop 1.7s;
        }

      }
    }

    span {
      color: #553d33;
      font-family: 'Bebas Neue', cursive;
      font-size:32px;
      text-transform: uppercase;
      line-height: 32px;
      &:first-child {
        color: #37251d;
      }
      @media screen and(min-width: $desktop-breakpoint) {
        font-size: 110px;
        line-height: 90px;
      }
    }
    img {
      padding-top:15px;
      width: 150px;
      @media screen and(min-width: $desktop-breakpoint) {
        width: 345px;
        position: relative;
        top:-60px;
      }
    }
  }
  .montres {
    padding-top: 38px;
    z-index: 999;
    @media screen and(min-width: $desktop-breakpoint) {
      flex:2;
      display: flex;
      padding-top: 0;
      align-items: center;
      .montre-desktop {
        display: flex !important;
        z-index: 8;
      }
    }
    .montre-desktop {
      display: none;
    }
    app-liste-montres {
      width: 100%;
      z-index: 7;
      @media screen and(min-width: $desktop-breakpoint) {
        display: none;
      }
    }
  }
  .btn-mobile {
    display: flex;
    align-items: center;
    z-index: 111;
    padding-top: 32px;
    justify-content: center;
    @media screen and(min-width: $desktop-breakpoint) {
      display: none;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 270px;
      background-image: url('../../assets/background-brown.png');
      border: 0 !important;
      border-radius: 50px;
      font-size: 14px;
      font-family: "Louis George Cafe", sans-serif;
      font-weight: bold;
      height: 52px;
      .search {
        fill: white;
        width: 20px;
      }
    }
  }
}
.couture {
  background: none;
  @media screen and(min-width: $desktop-breakpoint) {
  background-image: url('../../assets/coutures-brown.png');
  background-repeat: repeat-x;
    z-index: -1;
  height: 10px;
  border: 0 !important;
  position: absolute;
  width: 100%;
  background-size: 55%;
  background-position: left bottom;
  }
  @media screen and(min-width: $large-screen) {
  background-image: url('../../assets/coutures-brown.png');
  background-repeat: repeat-x;
  height: 10px;
    z-index: -1;
  border: 0 !important;
  position: absolute;
  bottom: 235px;
  width: 100%;
  background-size: 55%;
  background-position: left bottom;
  }
}


*:focus {
  outline: none !important;
}
