@import "../../variable";

.main-wrapper {
  flex-direction: column;
  @media screen and(min-width: $desktop-breakpoint) {
    flex-direction: row;
    padding: 10px 30px;
  }
  .intro {
    width: 100%;
    padding-top: 32px;
    text-align: center;
    .intro-desktop {
      display: none;
    }
    @media screen and(min-width: $desktop-breakpoint) {
      display: flex;
      flex:1;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .intro-desktop {
        display: flex;
        flex-direction: column;
      }
      .intro-mobile {
        display: none;
      }
    }

    span {
      color: #553d33;
      font-family: 'Bebas Neue', cursive;
      font-size:32px;
      text-transform: uppercase;
      line-height: 32px;
      &:first-child {
        color: #37251d;
      }
      @media screen and(min-width: $desktop-breakpoint) {
        font-size: 70px;
        line-height: 70px;
      }
    }
    img {
      padding-top:15px;
      width: 150px;
      @media screen and(min-width: $desktop-breakpoint) {
        width: 345px;
        position: relative;
        top:-60px;
      }
    }
  }
  .montres {
    padding-top: 38px;
    @media screen and(min-width: $desktop-breakpoint) {
      flex:1;
      display: flex;
      padding-top: 0;
      align-items: center;
      justify-content: center;
      .montre-desktop {
        display: flex !important;
      }
    }
    .montre-desktop {
      display: none;
    }
    app-liste-montres {
      width: 100%;
      @media screen and(min-width: $desktop-breakpoint) {
        display: none;
      }
    }
  }
  .btn-mobile {
    display: flex;
    align-items: center;
    padding-top: 32px;
    justify-content: center;
    @media screen and(min-width: $desktop-breakpoint) {
      display: none;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 270px;
      background-image: url('../../assets/background-brown.png');
      border: 0 !important;
      border-radius: 50px;
      font-size: 14px;
      font-family: "Louis George Cafe", sans-serif;
      height: 52px;
      .chevron {
        transform: rotate(270deg);
      }
    }
  }
}
