<div class="footer-wrapper">

  <div class="content-footer position-relative">
    <span class="insta {{burgerIsOpen ? 'text-white' : ''}}">c</span>
    <span class="copyright {{burgerIsOpen ? 'text-white' : ''}}">Copyright © 2021 beWatched. All rights reserved.</span>
    <ul>
      <li class="{{burgerIsOpen ? 'text-white' : ''}}">Conditions générales de ventes</li>
      <li class="{{burgerIsOpen ? 'text-white' : ''}}">Politique de confidentialité</li>
      <li class="{{burgerIsOpen ? 'text-white' : ''}}">Mentions légales</li>
    </ul>
  </div>

</div>
