@import "../../../variable";

.footer-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  .insta-wrap {
    display:flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;


  }

  .content-footer {
    display: flex;
    align-items: center;
    padding: 0 31px 31px 0;
    justify-content: flex-end;
    .insta {
      font-family: "social media";
      font-size:40px;
      position: absolute;
      left: 40px;
      cursor: pointer;
    }
    .copyright {
      position:absolute;
      width: 100%;
      font-size:13px;
      font-family: "Louis George Cafe", sans-serif;
      text-align: center;
    }
    ul {
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: space-evenly;
      li {
        font-size:13px;
        font-family: "Louis George Cafe", sans-serif;
      }
      li + li {
        margin-left:15px;
      }
    }
  }

}
