 <swiper
    [slidesPerView]="3"
    [initialSlide]="1"
    [spaceBetween]="180"
    [slideToClickedSlide]="true"
    slideActiveClass="realWidth"
    slideClass="little"
    [centeredSlides]="true"
    [loop]="true"
    [pagination]="false"
    class="mySwiper"
  >

    <ng-template swiperSlide><img src="assets/longines.png"   width="160px"/></ng-template>
   <ng-template swiperSlide><img src="assets/homeOmega.png"  width="160px" /></ng-template>
   <ng-template swiperSlide><img src="assets/iwc.png"  width="160px" /></ng-template>
    <ng-template swiperSlide><img src="assets/tissot.png"   width="160px"/></ng-template>

  </swiper>`



