<app-loader *ngIf="displayLoader"></app-loader>

<ng-container *ngIf="!displayLoader">
  <swiper
    [slidesPerView]="3"
    [initialSlide]="1"
    [autoplay]="{delay: 5000, disableOnInteraction: false, pauseOnMouseEnter: false, stopOnLastSlide : false}"
    [spaceBetween]="180"
    [slideToClickedSlide]="true"
    slideActiveClass="realWidth"
    slideClass="little"
    [centeredSlides]="true"
    [loop]="true"
    [pagination]="true"
    class="mySwiper"
  >

    <ng-container *ngFor="let montre of listeMontre">
      <ng-template swiperSlide>
        <ng-container *ngFor="let photo of montre.photos">
          <ng-container *ngIf="photo.isPhotoDetail">
            <img (click)="redirectToDetailMontre(montre)" src="{{photo.path}}" width="160px"/>

          </ng-container>
        </ng-container>
      </ng-template>

    </ng-container>
  </swiper>`

</ng-container>




