@import "../../variable";
.content-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  .main-wrapper-dynamique {
    flex:1;
    z-index: 12;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;

  }
  app-footer {
    position: relative;
    z-index: 113;
  }
}
.border {
  background-image: url('../../assets/coutures-brown.png');
  background-repeat: repeat;
  min-height: 7px;
  border: 0 !important;
  position: relative;
  top: -30px;
  @media screen and(min-width: $desktop-breakpoint) {
    top:-100px;
  }
  @media screen and(min-width: $large-screen) {
    top:-212px;
  }
}
