.content-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  .main-wrapper {
    flex:1;
    position: relative;
    z-index: 115;
  }
  app-footer {
    position: relative;
    z-index: 113;
  }
}
